.container-fluid {
    background: gray;
}

.container {
    background: green;
}

.row {
    background-color: blue;
    color: white;
    text-align: center;
}

textarea:focus, input:focus {
    outline: none;
}

textarea {
    border: none;
}